<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unina.is2project.sensorgames" >

    <!-- Permessi di connessione e trasferimento dati via bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Permessi di accensione adattatore bluetooth e di scoperta devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22"
        android:maxSdkVersion="22"/>

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.StatsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TrainingSettings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TwoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSensorPong">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSensorPong">
        </activity>
        <activity
            android:name=".activity.FirstAccess"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSensorPongNoActionBar">
        </activity>
        <activity
            android:name=".game.pong.GamePongTraining" >
        </activity>
        <activity
            android:name=".game.pong.GamePongTwoPlayer" >
        </activity>
        <activity
            android:name=".game.pong.GamePongOnePlayer"
            android:exported="true" >
        </activity>

        <!--Activity for test-->
        <activity
            android:name=".game.pong.GamePongOnePlayerAutomatedTest"
            android:exported="true" >
        </activity>

        <activity
            android:name=".splash.SplashScreenMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
