<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unina.is2project.sensorgames" >

    <!-- Permessi di connessione e trasferimento dati via bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Permessi di accensione adattatore bluetooth e di scoperta devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TwoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stats.activity.StatsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pong.GamePongTwoPlayer" >
        </activity>
        <activity android:name=".pong.GamePongOnePlayer"
            android:exported="true">
        </activity>
        <activity android:name=".pong.GamePongTraining" >
        </activity>
        <activity
            android:name=".splash.SplashScreenMain"
            android:label="@string/app_name"
            android:parentActivityName=".splash.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.unina.is2project.sensorgames.splash.SplashScreen" />
        </activity>
        <activity android:name=".pong.GamePongOnePlayerAutomatedTest"
            android:exported="true"></activity>
    </application>

</manifest>
